<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>To-Do List</title>
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="Task.css">
<link href="http://www.cssscript.com/wp-includes/css/sticky.css"
	rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/7ae2692b83.js"></script>

</head>

<body>
	<div ng-app="TaskManager" style="margin-top: 150px;">
		<div class="container">
			<div class="content" ng-controller="taskController">
				<h1>To-Do List</h1>
				<form>
					<div class="inputContainer">
						<input type="text" id="description" class="form-control"
							placeholder="What do you need to do?" ng-model="newTask">
						<label for="description">Description</label>
					</div>
					<div class="inputContainer half last">
						<i class="fa fa-caret-down selectArrow"></i> <select id="category"
							class="btn btn-default dropdown-toggle"
							ng-model="newTaskCategory"
							ng-options="obj.name for obj in categories">
							<option class="disabled" value="">Choose a Title</option>
						</select> <label for="category">Title</label>
					</div>
					<div class="inputContainer half last right">
						<input type="date" id="dueDate"
							class="btn btn-default dropdown-toggle" class="taskDate"
							ng-model="newTaskDate"> <label for="dueDate">Due
							Date</label>
					</div>
					<div class="row">
						<button class="btn btn-primary" class="taskAdd"
						onclick="newElement()"	ng-click="addNew()">
							<i class="fa fa-plus icon"></i>Add task
						</button>
						<button class="btn btn-danger" class="taskDelete"
							ng-click="deleteTask()">
							<i class="fa fa-trash-o icon"></i>Delete Tasks
						</button>
					</div>
				</form>
				<div class="container">
					<ul class="taskList">
						<li class="taskItem"
							ng-repeat="taskItem in taskItem track by $index"
							ng-model="taskItem"><input type="checkbox"
							class="taskCheckbox" ng-model="taskItem.complete"
							ng-change="save()"> <span
							class="complete-{{taskItem.complete}}">{{taskItem.description}}</span>
							<span class="category-{{taskItem.category}}">{{taskItem.category}}</span>
							<strong class="taskDate complete-{{taskItem.complete}}"><i
								class="fa fa-calendar"></i>{{taskItem.date | date :
								'mediumDate'}}</strong></li>
					</ul>
				</div>

			</div>
			<script
				src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
			<script>
				var app = angular.module('TaskManager', []);

				app.controller('taskController',
						function($scope) {
							$scope.today = new Date();
							$scope.saved = localStorage.getItem('taskItems');
							$scope.taskItem = (localStorage
									.getItem('taskItems') !== null) ? JSON
									.parse($scope.saved) : [ {
								description : "Why not add a task?",
								date : $scope.today,
								complete : false
							} ];
							localStorage.setItem('taskItems', JSON
									.stringify($scope.taskItem));

							$scope.newTask = null;
							$scope.newTaskDate = null;
							$scope.categories = [ {
								name : 'Personal'
							}, {
								name : 'Work'
							}, {
								name : 'School'
							}, {
								name : 'Cleaning'
							}, {
								name : 'Other'
							} ];
							$scope.newTaskCategory = $scope.categories;
							$scope.addNew = function() {

									if ($scope.newTask == null
										|| $scope.newTask == '') {
									    $window.alert("You must write something!")}
									
								if ($scope.newTaskDate == null
										|| $scope.newTaskDate == '') {
									$scope.taskItem.push({
										description : $scope.newTask,
										date : "No deadline",
										complete : false,
										category : $scope.newTaskCategory.name
									})
								} else {
									$scope.taskItem.push({
										description : $scope.newTask,
										date : $scope.newTaskDate,
										complete : false,
										category : $scope.newTaskCategory.name
									})
								}
								;
								$scope.newTask = '';
								$scope.newTaskDate = '';
								$scope.newTaskCategory = $scope.categories;
								localStorage.setItem('taskItems', JSON
										.stringify($scope.taskItem));
							};
							$scope.deleteTask = function() {
								var completedTask = $scope.taskItem;
								$scope.taskItem = [];
								angular.forEach(completedTask, function(
										taskItem) {
									if (!taskItem.complete) {
										$scope.taskItem.push(taskItem);
									}
								});
								localStorage.setItem('taskItems', JSON
										.stringify($scope.taskItem));
							};

							$scope.save = function() {
								localStorage.setItem('taskItems', JSON
										.stringify($scope.taskItem));
							}
						});
			</script>
			<script>
				(function(i, s, o, g, r, a, m) {
					i['GoogleAnalyticsObject'] = r;
					i[r] = i[r] || function() {
						(i[r].q = i[r].q || []).push(arguments)
					}, i[r].l = 1 * new Date();
					a = s.createElement(o), m = s.getElementsByTagName(o)[0];
					a.async = 1;
					a.src = g;
					m.parentNode.insertBefore(a, m)
				})(window, document, 'script',
						'//www.google-analytics.com/analytics.js', 'ga');

				ga('create', 'UA-46156385-1', 'cssscript.com');
				ga('send', 'pageview');
			</script>
</body>
</html>
